#titename {
    color: rgb(255, 255, 255);
    font-size: 25px;
}
.titlename {
    color: white;
    font-size: 12px;
}
body{
    background-size: 100%;
}
.box {
    font-size: 57px;
    align-content: center;
    color:rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-width: 7px;
    border-style:dashed ;
    border-color:rgb(156, 95, 105);
    margin: 7px;
    background-color: blueviolet;
}